@charset "UTF-8";

//  calender用
a {
  text-decoration: none;
}
.calendar-wrap {
    width:58rem;
    background: #eee;
    color: #333;
}
@media (max-width: 1000px) {
    .calendar-wrap {
        width: 100%;       /* 画面いっぱいに広げる */
        max-width: none;   /* 最大幅の制限を解除 */
        margin: 0;         /* 中央寄せを解除 */
    }
}

.calender_head {
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
}
.calender_center {
    width:40%;
    text-align: center;
    font-size: 3rem;
    color:#408040;
    font-weight: bold;
    /*-webkit-text-stroke: 2px #FFF; 白抜き文字はもっと大きい文字が必要なのでヤメ
    text-stroke: 1px #FFF;*/
    text-shadow: 1px 1px 0 #333;
}
.calender_link {
    display:static;
    width:30%;
    text-align: center;
}
.calender {
    padding:10px;
    font-size:1.2rem;
    width: 100%; /* 追加: 親要素の幅いっぱいに広げる */
    table-layout: fixed; /* 追加: 列幅を固定してレスポンシブ時の崩れを防ぐ */            
}
.dateLink {
    text-align: center;
    //clip-path: polygon(0 10%,81% 10%,80% 0,100% 50%,80% 100%,80% 90%,0 90%,0 10%);
}
.calender th,td {
    border:2px solid #408040;
}		
.calender th {
    height: 30px;
    min-width: 8rem;
    text-align: center;
}
.calender td {
    height: 6rem;
    vertical-align: top;
}
@media (max-width: 780px) {
    .calender {
        padding:4px;
        font-size:1.0rem;
    }
    .calender th {
        height: 20px;
        min-width: 6rem;
        text-align: center;
    }
    .calender td {
        height: 4rem;
        vertical-align: top;
    }
}
.calender th:nth-of-type(1), td:nth-of-type(1) {    /* 日曜日 */
    background: #fee;
    color: red;
}
.calender th:nth-of-type(7), td:nth-of-type(7) {    /* 土曜日 */
    background: #eef;
    color: blue;
}
.calender .today {
    background: orange !important;
}
/* ■■■■■ １日の枠 ■■■■■ */
.calender .area {
    display: grid;
    grid-template-areas:
        "date edit"
        "dayname dayname"
        "names names"
        "cnt yoyaku";
    grid-gap: 10px;
    border: 1px solid #ccc;
    padding: 1px 1px 4px 1px;
}
.calender .day {
    grid-area: date;
    /*width: 3rem;*/
    width: 100%;
    text-align: center;
    font-size:1.2rem;
}
.calender .dayname {
    grid-area: dayname;
    /*width: 3rem;*/
    width: 100%;
    text-align: left;
    font-size:0.9rem;
    color: rgb(180, 10, 100);;
    margin-bottom:2px;
}
@media (max-width: 780px) {
    .calender .day {
        width: 2rem;
        font-size:0.8rem;
    }
    .calender .dayname {
        font-size:0.7rem;
    }
}
.calender .day_today {
    grid-area: date;
    width: 3rem;
    text-align: center;
    font-size:1.2rem;
    font-weight: bold;
    background: rgb(57, 137, 100);
}
.calender .edit_dummy {   /* 管理者以外は編集ボタンを無効 */
    grid-area: edit;
}
.calender .edit_button {   /* 管理者用の編集ボタン */
    grid-area: edit;
    width: 3rem;
    text-align: center;
    font-size:0.8rem;
}
@media (max-width: 780px) {
    .calender .edit_button {   /* 管理者用の編集ボタン */
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
        font-size:0.6rem;
    }
}
.calender .edit_button_normal {   /* 管理者用の編集ボタン */
    background: rgb(128, 206, 128);
}
.calender .edit_button_horiday {   /* 管理者用の編集ボタン */
    background: rgb(206, 128, 128);
}
.calender .edit_button_private {   /* 管理者用の編集ボタン */
    background: rgb(206, 206, 128);
}

<!-- modalイメージの定義 -->
.yoyaku_cnt {
    grid-area: cnt;
    width: 2.5rem;
    text-align: center;
    font-size:0.8rem;
    background: rgb(232, 206, 224);
}
.yoyaku_cnt::before {
    content: "残";
    font-size:0.5rem;
}
.names {
    grid-area: names;
    min-height: 100px;
    font-size:0.6rem;
}
/* Guest時の予約ボタン　本日日付の翌日以降 */
.yoyaku_button {
/*    grid-area: yoyaku;    */
    grid-area: names;
    font-weight: bold; /* 文字を太くする */
    color: #006400; /* 濃い緑色 (DarkGreenのHEXコード) */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* 軽い影を追加して浮き上がらせる */
    letter-spacing: 0.5px; /* 文字間隔を少し広げて読みやすくする */
    font-size: 1.3em; */ /* フォントサイズを少し大きくする（必要に応じて調整） */

    cursor: grab;
    height: 4rem;
    width: 94%;
    vertical-align: bottom;
    background-color: #c8c480;
    border: 1px solid #008440;
    text-align: center;
    text-decoration: none;
    display: inline-block;     
    clip-path: polygon(0 10%,81% 10%,80% 0,100% 50%,80% 100%,80% 90%,0 90%,0 10%);       
}
/* 自分の店の場合の予約ボタン */
.yoyaku_button_small {
    height: 2rem;
    font-size: 0.8em;
    grid-area: yoyaku;  /* 右下に表示する */
}

yoyaku_button:hover {  /* マウスホバー時の状態 */
    background-color: #3e8e41;
}
yoyaku_button:active { /* 押下時の状態 */
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* Guest時の釣果表示　本日日付以前 */
.cyouka_view {
    /*    grid-area: yoyaku;    */
    grid-area: names;
    width: 100%;
    background-color: #ffeeee;
    color: black;
    border: 1px solid #008440;
    text-align: left;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;     
}
.cyouka_stars {
    position: relative;
    color: #FFD700;    /* 色を濃い金色に変更 */
    /* 文字に影を追加 */
    text-shadow: 0 0 4px #FFD700, /* 周囲を明るく光らせる影 */
                0 0 10px rgba(0, 0, 0, 0.5); /* 立体感を出すための暗い影 */
    text-align: center;
    font-size: 1.2rem;
}
.cyouka_memo {
    /*    grid-area: yoyaku;    */
    position: relative;
    color: blue;
    text-align: left;
}
    
.allow_box {
    display: flex; /* Flexbox レイアウトを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
}            
.arrow-left {
    display: flex; /* Flexbox レイアウトを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */

    padding: 0.6rem;
    margin-top: 1.1rem;
    height: 3.5rem;
    width: 100%;
    background-color: #E8E4B0;
    color: black;
    border: 1px solid #008440;
    font-size: 1.4rem;
    clip-path: polygon(10% 50%,20% 0%,20% 20%,90% 20%,90% 80%,20% 80%,20% 100%,10% 50%);
}
.text-center {
    font-size: 2.0rem;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #008440;
    border-radius: 15px;                
    text-stroke: 1px #FFF;*/
    text-shadow: 1px 1px 0 #333;
}
.weekday {
    font-size: 1.4rem;
    transform: scaleX(2);
}
.arrow-right {
    display: flex; /* Flexbox レイアウトを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */

    padding: 0.6rem;
    margin-top: 1.1rem;
    height: 3.5rem;
    width: 100%;
    background-color: #E8E4B0;
    color: black;
    border: 1px solid #008440;
    font-size: 1.4rem;
    clip-path: polygon(10% 20%,80% 20%,80% 0,90% 50%,80% 90%,80% 80%,10% 80%,10% 20%);       
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  font-size:1.4rem;
  text-align:center;
}

.modalClose {
  font-size: 2rem;
}

.modal-date {
  background: lightblue;
  padding: 3px 15px;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}

.dateCaption {
    font-size:1.4rem;
    text-align:center;
}
.modal-table {
    padding:10px;
    font-size:1.2rem;
    width: 100%; /* 追加: 親要素の幅いっぱいに広げる */
}
.modal-table th,td {
    border:2px solid #408040;
}		
.modal-table td {
    color: black;
    background: white;
    height: 2rem;
}
.modal-table  .count{
    width: 2rem;
    text-align: right;
}
  
.modal-table textarea {
    height: 4rem;
}
